/* work sans font from googl font */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;0,900;1,400&family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400&family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
/* header styles */
.btn-primary{
    border-radius: 48px;
    background-color: #F948B2;
  padding: 15px 30px;
  border: none;
  color: white;
}
.btn-primary2{
    border-radius: 48px;
    background-color: #4EC5F7;
padding: 15px 30px;
border: none;
color: white;}

.section-title{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 48px;
font-weight: 700;
}
/* header related styles */

header {
  border: 1px solid red;
  padding: 0 240px;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
nav img{
  height: 35px;
}
.logo h3{
  font-size: 45px;
  font-weight: 700;

}
.nav-right{
  display: flex;
}

.navbar li {
  display: inline;
  list-style: none;
  line-height: 4;
  
  
}
.navbar li>a{
  margin: 32px;
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;

}
.btn-hed {
  padding: 18px 24px;
  border: none;
  border-radius: 8px;
background-color: rgba(11, 2, 35, 0.10);

  
}

/* banner related styles */
.banner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-title{
    color: #0B0223;
text-align: :left;
font-size: 48px;
font-weight: 600;
}
.banner-title2{
    text-align: left;
font-size: 95px;
font-weight: 800;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

/* main related styles */
.content{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.we-are-gamer-container{
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
  display: flex;
  padding: 60px 240px;
  justify-content: space-between;
  align-items: center;
}
.section-description{
  color: #534C64;
font-size: 18px;
font-weight: 400;
text-align: justify;
margin: 5px 0;
}

/* <!-- Online Games Funny Videos start --> */
.section-header{
  text-align: center;
  padding: 32px 0;
}
.section-img{
  display: flex;
  justify-content: center;
  gap: 10px;

}
.section-img p{
  width: 240px;
  text-align: center;
}


/* <!-- Play Instantly,No DownloadsNo Installs.start --> */

.installs-container{
  padding: 48px 240px;
  display: flex;
  align-items: center;
}
.download-content{
  text-align: right;
  padding: 0 40px;
}
.main-content{
font-size: 48px;
font-weight: 700;
}
.main-content > p{
  font-size: 24px;
  line-height: 1.6;
}

.main-content span{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

